<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinancePriceToolProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FinancePriceToolProject.Properties.Settings>
            <setting name="CurrencyDisplayFormat" serializeAs="String">
                <value>C2</value>
            </setting>
            <setting name="CsvSeparator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="ApplicationSpecificCulture" serializeAs="String">
                <value>sv_SE</value>
            </setting>
            <setting name="DefaultRoundingDecimals" serializeAs="String">
                <value>2</value>
            </setting>
        </FinancePriceToolProject.Properties.Settings>
    </applicationSettings>
</configuration>