<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinancePriceToolProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FinancePriceToolProject.Properties.Settings>
            <setting name="CurrencyDisplayFormat" serializeAs="String">
                <value>C2</value>
            </setting>
            <setting name="CsvSeparator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="ApplicationSpecificCulture" serializeAs="String">
                <value>sv-SE</value>
            </setting>
            <setting name="DefaultRoundingDecimals" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DefaultDateFormat" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="DefaultTimeFormat" serializeAs="String">
                <value>HH:mm:ss</value>
            </setting>
            <setting name="DefaultTimeFormatForFileNames" serializeAs="String">
                <value>yyyyMMdd_HHmmss</value>
            </setting>
            <setting name="ExtendedRoundingDecimals" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AppGithubUrl" serializeAs="String">
                <value>https://github.com/HCarlb/FinancePriceCalculator</value>
            </setting>
        </FinancePriceToolProject.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>